@using FlashCards.Shared.ViewModels;
@using Radzen;
@using System.Text.Json;
@using System.ComponentModel.DataAnnotations;
@using System.Text;
@inject DialogService _dialogService
@inject HttpClient _httpClient

<ModalBase Title="Delete Collection" CloseCallback="OnClose">
    <ModalBody>
        <div class="modalWrapText">
            @($"Are you sure you want to delete collection {Collection?.CollectionName}? This collection references {Collection?.DeckIds?.Count} decks.")
        </div>
        @if (!string.IsNullOrWhiteSpace(_error))
        {
            <div class="baseModalError error">
                @_error
            </div>
        }
    </ModalBody>
    <ModalButtons>
        <button class="primary buttonLeft" disabled="@_loading" @onclick="OnClose">Cancel</button>
        <button class="negative" disabled="@_loading" @onclick="Submit">Delete</button>
    </ModalButtons>
</ModalBase>

@code {
    [Parameter]
    public Func<Task>? CompleteCallback { get; set; }
    [Parameter]
    public CardCollectionView Collection { get; set; } = new CardCollectionView();

    string _error { get; set; } = string.Empty;
    bool _loading { get; set; }

    protected override void OnInitialized()
    {

    }

    async Task Submit()
    {
        await DeleteCollection();
    }

    async Task DeleteCollection()
    {
        _loading = true;
        _error = string.Empty;
        using var res = await _httpClient.DeleteAsync($"/api/collection/DeleteCardCollection/{Collection.Id}");
        var resS = await res.Content.ReadAsStringAsync();
        if (!res.IsSuccessStatusCode || string.IsNullOrWhiteSpace(resS) || !resS.StartsWith('{'))
        {
            _error = $"Error deleting collection. ({res.StatusCode})";
            _loading = false;
            return;
        }
        var result = JsonSerializer.Deserialize<StandardResponse>(resS, DefaultJsonOptions.DefaultOptions);
        if (result?.Success != true)
        {
            _error = $"Error deleting collection. ({res.StatusCode})";
            _loading = false;
            return;
        }

        _loading = false;
        _dialogService.Close();
        if (CompleteCallback != null)
            await CompleteCallback();
    }

    void OnClose()
    {
        _dialogService.Close();
    }
}