.baseModal h3 {
    margin: 0;
    font-size: var(--f20);
    margin: auto;
}

.baseModalHeader {
    display: flex;
    position: relative;
    padding-bottom: 16px;
}

.baseModalBody {
    display: flex;
    flex-direction: column;
    font-size: var(--f14);
}

    .baseModalBody ::deep form {
        display: flex;
        flex-direction: column;
    }

        .baseModalBody ::deep form .inputField {
            width: 100%;
        }

.baseModalFooter {
    padding-top: 16px;
    display: flex;
    justify-content: end;
}

::deep .baseModalError {
    padding-top: 8px;
}

::deep .baseModalFullLoader {
    display: flex;
    width: 100%;
    height: 80px;
}

::deep .modalWrapText {
    word-wrap: break-word;
}

::deep .buttonLeft {
    margin-right: auto;
}

@media only screen and (max-width: 768px) {
    .baseModal {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .baseModalBody ::deep form {
        min-height: 0;
    }

    .baseModalBody {
        height: 100%;
        min-height: 0;
    }
}

.closeButton {
    position: absolute;
    right: 0;
    background-image: none;
    border: 0;
    border-radius: 20px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    width: var(--f28);
    height: var(--f28);
}

    .closeButton span {
        font-size: var(--f28);
        font-variation-settings: 'wght' 300;
    }

    .closeButton:hover span {
        color: var(--hover-font-color);
    }

/*    .closeButton ::deep svg {
        display: block;
        margin: auto;
        opacity: 0.75;
        width: 25px;
    }*/
