@using FlashCards.Shared.ViewModels;
@using Radzen;
@using System.Text.Json;
@using System.ComponentModel.DataAnnotations;
@using System.Text;
@inject DialogService _dialogService
@inject HttpClient _httpClient

<ModalBase Title="New Card" CloseCallback="OnClose">
    <ModalBody>
        <div class="inputField">
            <label>Front:</label>
            <textarea rows="4" @bind="_formModel!.FrontValue" @bind:event="oninput" />
        </div>
        <div class="inputField">
            <label>Back:</label>
            <textarea rows="4" @bind="_formModel!.BackValue" @bind:event="oninput" />
        </div>
        @if (!string.IsNullOrWhiteSpace(_error))
        {
            <div class="baseModalError error">
                @_error
            </div>
        }
    </ModalBody>
    <ModalButtons>
        <button class="positive" disabled="@_loading" @onclick="Submit">Save</button>
    </ModalButtons>
</ModalBase>

@code {
    [Parameter]
    public Func<CardView?, Task>? CompleteCallback { get; set; }
    [Parameter]
    public long SetId { get; set; } = 0;

    FormModel? _formModel { get; set; }
    string _error { get; set; } = string.Empty;
    bool _loading { get; set; }

    protected override void OnInitialized()
    {
        _formModel ??= new FormModel()
            {
                FrontValue = string.Empty,
                BackValue = string.Empty
            };
    }

    async Task Submit()
    {
        await UpdateCard();
    }

    async Task UpdateCard()
    {
        _loading = true;
        _error = string.Empty;
        var postModel = new CreateCardsRequest()
            {
                SetId = SetId,
                Cards = new List<CreateCardsCard>()
                {
                    new CreateCardsCard()
                    {
                        FrontValue = _formModel!.FrontValue,
                        BackValue = _formModel!.BackValue
                    }
                }
            };
        using var content = new StringContent(JsonSerializer.Serialize(postModel, DefaultJsonOptions.DefaultOptions), Encoding.UTF8, "application/json");
        using var res = await _httpClient.PutAsync("/api/card/CreateCards", content);
        var resS = await res.Content.ReadAsStringAsync();
        if (!res.IsSuccessStatusCode || string.IsNullOrWhiteSpace(resS) || !resS.StartsWith('{'))
        {
            _error = $"Error adding card. ({res.StatusCode})";
            _loading = false;
            return;
        }
        var result = JsonSerializer.Deserialize<StandardResponse<CardsView>>(resS, DefaultJsonOptions.DefaultOptions);
        if (result?.Success != true || result?.Data == null)
        {
            _error = $"Error adding card. ({res.StatusCode})";
            _loading = false;
            return;
        }
        var newCard = result.Data.Cards.FirstOrDefault();

        _loading = false;
        _dialogService.Close();
        if (CompleteCallback != null)
            await CompleteCallback(newCard);
    }

    void OnClose()
    {
        _dialogService.Close();
    }

    class FormModel
    {
        public string FrontValue { get; set; } = string.Empty;
        public string BackValue { get; set; } = string.Empty;
    }
}