.contentHeader button {
    margin-right: 8px;
}

.contentHeader .collectionHeaderTitle {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.contentHeader .collectionHeaderButtons {
    display: flex;
    align-items: center;
}

.cardListing {
    width: 265px;
    height: 166px;
    background-color: var(--base-bg-color);
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
}

    .cardListing:hover .cardValues {
        border-color: var(--hover-border-color);
    }

.cardLoading {
    border: 1px solid var(--base-border-color);
    border-radius: var(--large-border-radius);
    width: 100%;
    height: 100%;
    display: flex;
}

.cardValues {
    border: 1px solid var(--base-border-color);
    border-radius: var(--large-border-radius);
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform ease-in-out 0.25s;
}

    .cardValues.cardFlipped {
        transform: rotate3d(0,1,0,180deg);
    }

.cardValueContainer {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

.cardValue {
    max-height: 100%;
    font-size: var(--f20);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
    padding: 8px;
    margin: auto;
    opacity: 0;
    transition: opacity ease-in-out 0.125s, transform ease-in-out 0.25s;
    user-select: none;
}

.sideDisplay {
    opacity: 1;
}

.cardBack.sideDisplay {
    transform: rotate3d(0,1,0,180deg);
}

.cardEditIcon {
    position: absolute;
    right: 4px;
    top: 4px;
    width: var(--f22);
    height: var(--f22);
    z-index: 1;
}

    .cardEditIcon span {
        font-size: var(--f22);
    }

    .cardEditIcon:hover span {
        color: var(--hover-font-color);
    }

.cardDeleteIcon {
    position: absolute;
    left: 4px;
    top: 4px;
    width: var(--f22);
    height: var(--f22);
    z-index: 1;
}

    .cardDeleteIcon span {
        font-size: var(--f22);
    }

    .cardDeleteIcon:hover span {
        color: var(--error-color);
    }

@media only screen and (max-width: 768px) {
    .cardsContainer {
        overflow: auto;
    }

    .cardListing {
        width: 100%;
        margin-right: 0;
        overflow: hidden;
    }

    .contentHeader {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        height: auto;
    }

        .contentHeader .collectionHeaderTitle {
            display: flex;
            align-items: baseline;
            margin: 4px 0 4px 0;
        }

            .contentHeader .collectionHeaderTitle h2 {
                margin: 0
            }

                .contentHeader .collectionHeaderTitle h2 span {
                    font-size: var(--f16);
                    font-weight: normal;
                }

        .contentHeader .collectionHeaderButtons {
            display: flex;
            align-items: center;
            height: 35px;
        }
}
