.inputField {
    padding: 4px;
}

.inputCheckField {
    padding: 4px;
}

    .inputCheckField ::deep .rz-switch {
        margin-left: auto;
    }

.cardListing {
    width: 320px;
    height: 200px;
    background-color: var(--base-bg-color);
    display: flex;
    position: relative;
    cursor: pointer;
}

    .cardListing:hover .cardValues {
        border-color: var(--hover-border-color);
    }

.inputRangeField {
    padding: 4px;
    display: flex;
    flex-direction: column;
}

    .inputRangeField .inputRangeFieldRange {
        display: flex;
        align-items: center;
        width: 100%;
    }

        .inputRangeField .inputRangeFieldRange ::deep .rz-slider {
            width: 100%;
            margin: 0 10px;
        }

        .inputRangeField .inputRangeFieldRange div {
            text-align: end;
            min-width: 2.6rem;
            margin-left: 8px;
        }

.lastSeenInputs {
    display: flex;
}

    .lastSeenInputs ::deep input {
        width: 70px;
        margin-left: 8px;
    }

.optionsMessage {
    text-align: center;
    margin-bottom: 6px;
}

.cardValues {
    border: 1px solid var(--base-border-color);
    border-radius: var(--large-border-radius);
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform ease-in-out 0.25s;
}

    .cardValues.cardFlipped {
        transform: rotate3d(0,1,0,180deg);
    }

.cardValueContainer {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}

.cardValue {
    max-height: 100%;
    font-size: var(--f22);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
    padding: 8px;
    margin: auto;
    opacity: 0;
    transition: opacity ease-in-out 0.125s, transform ease-in-out 0.25s;
    user-select: none;
}

.sideDisplay {
    opacity: 1;
}

.cardBack.sideDisplay {
    transform: rotate3d(0,1,0,180deg);
}

.resultsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultsList {
    margin: auto;
}
