@using FlashCards.Client.Icons
<button class="closeButton" @onclick=CloseCallback>
    <Close Fill="#c4c4c4"/>
</button>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> CloseCallback { get; set; }
}