.header {
    background-color: var(--dark-bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.headerButton {
    background: none;
    border: none;
    color: var(--base-font-color);
    font-size: var(--f28);
    line-height: var(--f28);
    margin-left: 8px;
}

.headerUserName {
    display: flex;
    align-items: center;
    margin: auto 12px auto auto;
}

.headerUserName button {
    margin-left: 8px;
}