.header {
    background-color: var(--dark-bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.headerButton {
    background: none;
    border: none;
    margin-left: 8px;
    cursor: pointer;
}

    .headerButton span {
        font-size: var(--f28);
    }

    .headerButton:hover span {
        color: var(--hover-font-color);
    }

.headerUserName {
    display: flex;
    align-items: center;
    margin: auto 12px auto auto;
}

    .headerUserName button {
        margin-left: 8px;
    }
